*{box-sizing:border-box;}

.page, html, body{
    margin: 0;
    font-family: 'Source Sans Pro';
    height: 100%;
    width: 100%;
    
}

/* CONFIG OF MY HEADER FIXED ON TOP */
.page{
    display: flex;
    flex-direction: column;
    
}
.page-content{
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
}

.header{
    padding: 10px;
    display:flex;
    flex: 0 0 auto;
    border-bottom: 1px solid rgb(206, 206, 206);
    justify-content: space-between;
}

.header .menu{
    display: flex;
    align-items: center;
}

.header .menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin: 0px 10px;
}

.header .logo a{
    font-size: 28px;
    text-decoration: none;
    color: black;
}
.header .logo span{
    color: cornflowerblue;
}
/* END OF MY HEADER CONFIGURATION */

/* BEGGINING OF MAIN-CONTENT CONFIG */


.page-initial{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(assets/img-fundo.jpg);
    background-size:cover;
}

.text-box{
    display: flex;
    flex-direction: column;
    background:rgba(3, 119, 107, 0.6);
    padding: 0 5%;
    border: 1px ridge #ccc ;
    align-items: center;
    border-radius: 5px;
}
/* STYLING TEXT IN TEXTBOX */
.text-box h1{color: white;font-size: 38px;font-weight: bold;}
.text-box p{color: white;font-size: 20px;font-weight: bold;}

/* DEFAULT STYLE FOR ALL CONTAINERS THAT WILL RECEIVE PAGEBLOCKS*/

/* DEFAULT CONTAINER */
.block-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* BLOCK-CONTAINER TEXT STYLE */
.block-container h2{font-size: 32px;text-transform:uppercase; font-weight: normal;color:rgb(55, 55, 55);}
.block-container p{font-size: 18px;color: rgb(55, 55, 55);}
/* END OF BLOCK-CONTAINER TEXT-STYLE */

.block-container .rooms-img{
    display: flex;
    flex-direction: row;
}

.rooms-img .img-plus-link img{
    width: 25vw;
    height: 30vh;
    image-rendering: auto;
}

.img-plus-link{
    display: flex;
    flex-direction: column;
    padding: 20px; 
}

.img-plus-link a{
    width: 25vw;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 550;
    border-bottom: 2px solid rgba(3, 119, 107);
    text-align: center;
}

/* ABOUT-BOX STYLE */
.about-wrapper{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 50px;
    align-content: center;
}

.block-container .about-wrapper .about-box{
    display: flex;
    width: 45%;
    margin:0 auto;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
}

.block-container .about-wrapper .about-box img{
    width: 130px;
    height: 113px;
    object-fit: cover;
    margin-left: 10px;
    padding-right: 10px;
    border-right: 5px solid #49997d;
    
}
.box-content{
    color: rgb(55, 55, 55);
    flex: 1 1 auto;
}

/* STYLING THE PAGE FOOTER */
.footer{
    display: flex;
    padding: 0 10%;
    background-color:#49997d;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.foot-cont{
    color: white;
    display: flex;
}

.foot-contate{
    font-size: 32px;
    font-weight: bold;
}

.foot-copyright{
    text-align: center;
    border-top: 1px solid rgb(206, 206, 206);
    color: white;
    font-weight: 600;
    padding: 20px;
    width: 100%;
}

.foot-icon{
    width: 40px;
    height: 40px;
    margin: 10px;
}
